* text=auto !eol
.ci/.travis.pre -text
.ci/appveyor.pre -text
.coin-or/Dependencies -text
.coin-or/projDesc.xml -text
/.travis.yml -text
/AUTHORS -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/appveyor.yml -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/couenne.pc.in -text
/depcomp -text
doc/couenne-user-manual.pdf -text
doc/mainpage.dox -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
src/CouenneConfig.h -text
src/Makefile.am -text
src/Makefile.in -text
src/bound_tightening/BTPerfIndicator.cpp -text
src/bound_tightening/BTPerfIndicatorConstr.cpp -text
src/bound_tightening/CouenneAggrProbing.cpp -text
src/bound_tightening/CouenneAggrProbing.hpp -text
src/bound_tightening/CouenneBTPerfIndicator.hpp -text
src/bound_tightening/CouenneFixPoint.hpp -text
src/bound_tightening/CouenneInfeasCut.cpp -text
src/bound_tightening/CouenneInfeasCut.hpp -text
src/bound_tightening/CouenneMultiVarProbe.hpp -text
src/bound_tightening/CouenneSparseBndVec.hpp -text
src/bound_tightening/aggressiveBT.cpp -text
src/bound_tightening/boundTightening.cpp -text
src/bound_tightening/fake_tightening.cpp -text
src/bound_tightening/impliedBounds.cpp -text
src/bound_tightening/obbt.cpp -text
src/bound_tightening/obbt_iter.cpp -text
src/bound_tightening/obbt_supplement.cpp -text
src/bound_tightening/operators/impliedBounds-exprDiv.cpp -text
src/bound_tightening/operators/impliedBounds-exprMul.cpp -text
src/bound_tightening/operators/impliedBounds-exprPow.cpp -text
src/bound_tightening/operators/impliedBounds-exprQuad.cpp -text
src/bound_tightening/operators/impliedBounds-exprSum.cpp -text
src/bound_tightening/operators/impliedBounds-exprTrilinear.cpp -text
src/bound_tightening/operators/impliedBounds-mul.cpp -text
src/bound_tightening/operators/impliedBounds-sum.cpp -text
src/bound_tightening/tightenBounds.cpp -text
src/bound_tightening/twoImpliedBT/TwoImpliedIneqCombine.cpp -text
src/branch/BranchCore.cpp -text
src/branch/CouenneBranchingObject.cpp -text
src/branch/CouenneBranchingObject.hpp -text
src/branch/CouenneChooseStrong.cpp -text
src/branch/CouenneChooseStrong.hpp -text
src/branch/CouenneChooseVariable.cpp -text
src/branch/CouenneChooseVariable.hpp -text
src/branch/CouenneComplBranchingObject.cpp -text
src/branch/CouenneComplBranchingObject.hpp -text
src/branch/CouenneComplObject.cpp -text
src/branch/CouenneComplObject.hpp -text
src/branch/CouenneNauty.cpp -text
src/branch/CouenneNauty.hpp -text
src/branch/CouenneObject.cpp -text
src/branch/CouenneObject.hpp -text
src/branch/CouenneOrbitBranchingObj.cpp -text
src/branch/CouenneOrbitBranchingObj.hpp -text
src/branch/CouenneOrbitObj.cpp -text
src/branch/CouenneOrbitObj.hpp -text
src/branch/CouenneProjections.hpp -text
src/branch/CouenneSOSObject.cpp -text
src/branch/CouenneSOSObject.hpp -text
src/branch/CouenneThreeWayBranchObj.cpp -text
src/branch/CouenneThreeWayBranchObj.hpp -text
src/branch/CouenneVTObject.hpp -text
src/branch/CouenneVarObject.cpp -text
src/branch/CouenneVarObject.hpp -text
src/branch/StrongBranchingSetupList.cpp -text
src/branch/doStrongBranching.cpp -text
src/branch/feasibleRegion.cpp -text
src/branch/infeasibility.cpp -text
src/branch/infeasibilityVT.cpp -text
src/branch/operators/branchExprAbs.cpp -text
src/branch/operators/branchExprDiv.cpp -text
src/branch/operators/branchExprExp.cpp -text
src/branch/operators/branchExprInv.cpp -text
src/branch/operators/branchExprLog.cpp -text
src/branch/operators/branchExprMul.cpp -text
src/branch/operators/branchExprPow.cpp -text
src/branch/operators/branchExprQuad.cpp -text
src/branch/operators/branchExprSinCos.cpp -text
src/branch/operators/branchExprTrilinear.cpp -text
src/branch/operators/computeMulBrDist.cpp -text
src/branch/operators/minMaxDelta.cpp -text
src/branch/projections.cpp -text
src/config.h.in -text
src/config_couenne.h.in -text
src/config_couenne_default.h -text
src/config_default.h -text
src/convex/CouenneCutGenerator.cpp -text
src/convex/CouenneCutGenerator.hpp -text
src/convex/addEnvelope.cpp -text
src/convex/createCuts.cpp -text
src/convex/genColCuts.cpp -text
src/convex/genRowCuts.cpp -text
src/convex/generateCuts.cpp -text
src/convex/operators/alphaConvexify.cpp -text
src/convex/operators/conv-exprAbs.cpp -text
src/convex/operators/conv-exprDiv.cpp -text
src/convex/operators/conv-exprExp.cpp -text
src/convex/operators/conv-exprGroup.cpp -text
src/convex/operators/conv-exprInv.cpp -text
src/convex/operators/conv-exprLog.cpp -text
src/convex/operators/conv-exprMul-genCuts.cpp -text
src/convex/operators/conv-exprMul-reformulate.cpp -text
src/convex/operators/conv-exprMul.cpp -text
src/convex/operators/conv-exprOpp.cpp -text
src/convex/operators/conv-exprPow-envelope.cpp -text
src/convex/operators/conv-exprPow-getBounds.cpp -text
src/convex/operators/conv-exprPow.cpp -text
src/convex/operators/conv-exprQuad.cpp -text
src/convex/operators/conv-exprSinCos.cpp -text
src/convex/operators/conv-exprSub.cpp -text
src/convex/operators/conv-exprSum.cpp -text
src/convex/operators/conv-exprTrilinear-gencuts.cpp -text
src/convex/operators/conv-exprTrilinear.cpp -text
src/convex/operators/powNewton.cpp -text
src/convex/operators/quadCuts.cpp -text
src/convex/operators/trigNewton.cpp -text
src/convex/operators/unifiedProdCuts.cpp -text
src/convex/updateBranchInfo.cpp -text
src/couenne.opt -text
src/cut/sdpcuts/CouenneMatrix.cpp -text
src/cut/sdpcuts/CouenneMatrix.hpp -text
src/cut/sdpcuts/CouennePSDcon.cpp -text
src/cut/sdpcuts/CouennePSDcon.hpp -text
src/cut/sdpcuts/CouenneSdpCuts.cpp -text
src/cut/sdpcuts/CutGen.cpp -text
src/cut/sdpcuts/CutGenSparse.cpp -text
src/cut/sdpcuts/dsyevx_wrapper.cpp -text
src/cut/sdpcuts/dsyevx_wrapper.hpp -text
src/disjunctive/CouenneDisjCuts.cpp -text
src/disjunctive/CouenneDisjCuts.hpp -text
src/disjunctive/OsiCuts2MatrVec.cpp -text
src/disjunctive/OsiLinear2MatrVec.cpp -text
src/disjunctive/disjCut.cpp -text
src/disjunctive/dummyVecMatr.cpp -text
src/disjunctive/generateDisjCuts.cpp -text
src/disjunctive/getDisjunctions.cpp -text
src/disjunctive/separateWithDisjunction.cpp -text
src/disjunctive/singleDisjunctions.cpp -text
src/expression/.deps/expression.Po -text
src/expression/CouenneDomain.hpp -text
src/expression/CouenneExprAux.hpp -text
src/expression/CouenneExprBound.hpp -text
src/expression/CouenneExprClone.hpp -text
src/expression/CouenneExprConst.hpp -text
src/expression/CouenneExprCopy.hpp -text
src/expression/CouenneExprIVar.hpp -text
src/expression/CouenneExprOp.hpp -text
src/expression/CouenneExprStore.hpp -text
src/expression/CouenneExprUnary.hpp -text
src/expression/CouenneExprVar.hpp -text
src/expression/CouenneExpression.hpp -text
src/expression/CouennePrecisions.hpp -text
src/expression/CouenneTypes.hpp -text
src/expression/domain.cpp -text
src/expression/exprAux.cpp -text
src/expression/exprOp.cpp -text
src/expression/exprUnary.cpp -text
src/expression/exprVar.cpp -text
src/expression/expression.cpp -text
src/expression/operators/CouenneExprAbs.hpp -text
src/expression/operators/CouenneExprBinProd.hpp -text
src/expression/operators/CouenneExprCeil.hpp -text
src/expression/operators/CouenneExprCos.hpp -text
src/expression/operators/CouenneExprDiv.hpp -text
src/expression/operators/CouenneExprEvenPow.hpp -text
src/expression/operators/CouenneExprExp.hpp -text
src/expression/operators/CouenneExprFloor.hpp -text
src/expression/operators/CouenneExprGroup.hpp -text
src/expression/operators/CouenneExprIf.hpp -text
src/expression/operators/CouenneExprInv.hpp -text
src/expression/operators/CouenneExprLog.hpp -text
src/expression/operators/CouenneExprMax.hpp -text
src/expression/operators/CouenneExprMin.hpp -text
src/expression/operators/CouenneExprMul.hpp -text
src/expression/operators/CouenneExprMultiLin.hpp -text
src/expression/operators/CouenneExprNorm.hpp -text
src/expression/operators/CouenneExprOddPow.hpp -text
src/expression/operators/CouenneExprOpp.hpp -text
src/expression/operators/CouenneExprPWLinear.hpp -text
src/expression/operators/CouenneExprPow.hpp -text
src/expression/operators/CouenneExprQuad.hpp -text
src/expression/operators/CouenneExprSignPow.hpp -text
src/expression/operators/CouenneExprSin.hpp -text
src/expression/operators/CouenneExprSub.hpp -text
src/expression/operators/CouenneExprSum.hpp -text
src/expression/operators/CouenneExprTrilinear.hpp -text
src/expression/operators/bounds/CouenneExprBCos.hpp -text
src/expression/operators/bounds/CouenneExprBDiv.hpp -text
src/expression/operators/bounds/CouenneExprBMul.hpp -text
src/expression/operators/bounds/CouenneExprBQuad.hpp -text
src/expression/operators/bounds/CouenneExprBSin.hpp -text
src/expression/operators/bounds/exprBQuad.cpp -text
src/expression/operators/compQuadFinBounds.cpp -text
src/expression/operators/exprAbs.cpp -text
src/expression/operators/exprCos.cpp -text
src/expression/operators/exprDiv.cpp -text
src/expression/operators/exprExp.cpp -text
src/expression/operators/exprGroup.cpp -text
src/expression/operators/exprInv.cpp -text
src/expression/operators/exprLog.cpp -text
src/expression/operators/exprMinMax.cpp -text
src/expression/operators/exprMul.cpp -text
src/expression/operators/exprOpp.cpp -text
src/expression/operators/exprPow.cpp -text
src/expression/operators/exprQuad.cpp -text
src/expression/operators/exprSin.cpp -text
src/expression/operators/exprSub.cpp -text
src/expression/operators/exprSum.cpp -text
src/expression/operators/exprTrilinear.cpp -text
src/heuristics/BonInitHeuristic.cpp -text
src/heuristics/BonInitHeuristic.hpp -text
src/heuristics/BonNlpHeuristic.cpp -text
src/heuristics/BonNlpHeuristic.hpp -text
src/heuristics/CouenneFPFindSolution.cpp -text
src/heuristics/CouenneFPcreateMILP.cpp -text
src/heuristics/CouenneFPphaseMILP.cpp -text
src/heuristics/CouenneFPphaseNLP.cpp -text
src/heuristics/CouenneFPpool.cpp -text
src/heuristics/CouenneFPpool.hpp -text
src/heuristics/CouenneFPscipSolve.cpp -text
src/heuristics/CouenneFeasPump.cpp -text
src/heuristics/CouenneFeasPump.hpp -text
src/heuristics/CouenneIterativeRounding.cpp -text
src/heuristics/CouenneIterativeRounding.hpp -text
src/heuristics/cons_rowcuts.cpp -text
src/heuristics/cons_rowcuts.h -text
src/interfaces/BonCouenneInterface.cpp -text
src/interfaces/BonCouenneInterface.hpp -text
src/interfaces/CouenneUserInterface.hpp -text
src/main/BonCouenne.cpp -text
src/main/BonCouenneInfo.cpp -text
src/main/BonCouenneInfo.hpp -text
src/main/BonCouenneSetup.cpp -text
src/main/BonCouenneSetup.hpp -text
src/main/CouTight.cpp -text
src/main/Couenne.cpp -text
src/main/CouenneBab.cpp -text
src/main/CouenneBab.hpp -text
src/main/CouenneOSInterface.cpp -text
src/main/CouenneOSInterface.hpp -text
src/main/Makefile.am -text
src/main/Makefile.in -text
src/problem/CouenneJournalist.hpp -text
src/problem/CouenneLPtightenBounds.cpp -text
src/problem/CouenneProblem.cpp -text
src/problem/CouenneProblem.hpp -text
src/problem/CouenneProblemElem.hpp -text
src/problem/CouenneRecordBestSol.cpp -text
src/problem/CouenneRecordBestSol.hpp -text
src/problem/CouenneSOS.cpp -text
src/problem/CouenneSolverInterface.cpp -text
src/problem/CouenneSolverInterface.hpp -text
src/problem/CouenneSymmetry.cpp -text
src/problem/checkNLP.cpp -text
src/problem/constraint.cpp -text
src/problem/depGraph/CouenneDepGraph.hpp -text
src/problem/depGraph/checkCycles.cpp -text
src/problem/depGraph/depGraph.cpp -text
src/problem/fillDependence.cpp -text
src/problem/fillQuadIndices.cpp -text
src/problem/getIntegerCandidate.cpp -text
src/problem/problem.cpp -text
src/problem/problemIO.cpp -text
src/problem/testIntFix.cpp -text
src/problem/writeAMPL.cpp -text
src/problem/writeGAMS.cpp -text
src/problem/writeLP.cpp -text
src/readnl/CouenneAmplInterface.cpp -text
src/readnl/CouenneAmplInterface.hpp -text
src/readnl/invmap.cpp -text
src/readnl/nl2e.cpp -text
src/readnl/readASLfg.cpp -text
src/readnl/readnl.cpp -text
src/standardize/CouenneLQelems.hpp -text
src/standardize/analyzeSparsity.cpp -text
src/standardize/auxiliarize.cpp -text
src/standardize/constrStandardize.cpp -text
src/standardize/decomposeTerm.cpp -text
src/standardize/elementBreak.cpp -text
src/standardize/flattenMul.cpp -text
src/standardize/linStandardize.cpp -text
src/standardize/splitAux.cpp -text
src/standardize/standardize.cpp -text
src/standardize/sumStandardize.cpp -text
src/util/CouenneFunTriplets.hpp -text
src/util/CouenneRootQ.hpp -text
src/util/CouenneSparseMatrix.cpp -text
src/util/CouenneSparseMatrix.hpp -text
src/util/drawCuts.cpp -text
src/util/rootQ.cpp -text
test/Makefile.am -text
test/Makefile.in -text
test/config_files/couenne.opt.abt -text
test/config_files/couenne.opt.fbbt -text
test/config_files/couenne.opt.obbt -text
test/config_files/couenne.opt.plain -text
test/config_files/couenne.opt.strong_extreme -text
test/config_files/couenne.opt.strong_int_br -text
test/config_files/couenne.opt.vt -text
test/couenne.opt.base -text
test/data/circle.nl -text
test/data/circle.obj -text
test/data/cube.nl -text
test/data/cube.obj -text
test/data/exp4.nl -text
test/data/exp4.obj -text
test/data/geoid.nl -text
test/data/geoid.obj -text
test/data/log.nl -text
test/data/log.obj -text
test/data/prod.nl -text
test/data/prod.obj -text
test/data/qquad.nl -text
test/data/qquad.obj -text
test/data/sin.nl -text
test/data/sin.obj -text
test/data/small2.nl -text
test/data/small2.obj -text
test/data/toy.nl -text
test/data/toy.obj -text
test/grandTest.sh.in -text
